<html>
  <head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    {% if title %}
    <title>{{ title }} - bestla</title>
    {% else %}
    <title>Welcome to bestla</title>
    {% endif %}
  </head>
  <body>
  <div id="headercontainer">
    <div id="title">bestla: </div>
        <ul class="nav">
            <li><a href="/index"><div class="navitem">Home</div></a></li>
            <li><a href="/ssh"><div class="navitem">SSH</div></a></li>
            <li><a href="/machines"><div class="navitem">Machines</div></a></li>
            <li><a href="/new"><div class="navitem">New Machine</div></a></li>
        </ul>
    </div>
  </div>
  <div id="contentcontainer">
    {% block content %}{% endblock %}
  </div>
  </body>
</html>
