<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h2>Welcome to bestla</h2>
Bestla is a proof-of-concept cloud service written by John Dulaney.
<p>
<a href="/ssh">New SSH Key</a>
<br>
<a href="/new">New VM</a>
<br>
{% endblock %}

