<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <form action="/ssh" method="post" name="ssh">
      {{ form.hidden_tag() }}
      <p>
          Please copy and paste your public key:<br>
          {{ form.key(rows=15, cols=80) }}<br>
      </p>
      <p><input type="submit" value="Submit key"></p>
  </form>
{% endblock %}
