.nav {
    display:inline;
}

.nav li {
    float: left;
    list-style-type: none;
    margin: 5px;
}
.navitem {
    padding: 2px;
    border: 1px solid #000000;
    border-radius: 4px;
    background: #8888FF;
    color: #FFFFFF;
}
.navitem:hover {
    background: #CCCCFF;
}
.nav a {
    text-decoration: none;
}
#title {
    float: left;
    margin: 5px;
}
